# 忽略.vscode文件夹
.vscode/

# 忽略logs目录
logs/

# 忽略所有.log文件
*.log
*.old
# 忽略构建生成

build/Release/builder.params
build/Release/compile_commands.json
build/Release/KINGST-51MCU-BASKETTIMER
build/Release/KingST-51MCU-BasketTimer.lnp
build/Release/KingST-51MCU-BasketTimer.map
build/Release/KingST-51MCU-BasketTimer.map.view
build/Release/KingST-51MCU-BasketTimer.objlist
build/Release/ref.json
build/Release/src/main.args.txt
build/Release/src/main.lst
build/Release/src/main.o
